{% extends 'myapp/base.html' %}
{% load url from future %}

{% block content %}
<h1>Create a new Poll </h1>

<form method="post" action="{% url 'myapp:addpoll' %}">
    {% csrf_token %}
    {{ poll_form }} </br>
    <div id="choices" >
        Choice 1
        <input type="text" name="choice-1" id="choice-1">
        <i class="icon-plus-sign"></i></br>
        <font color="red">{% if choice_err %} {{ choice_err }}{% endif %}</font>
    </div>
    <input type="submit" value="Add Poll">
</form>
{% endblock %}