{% extends 'myapp/base.html' %}
{% load url from future %}

{% block content %}
{{ poll.question }} <b>Created by: </b>{{poll.created_by}}
</br>
{% if err_msg %} <font color="red"><strong>***{{ err_msg }}</strong></font> {% endif %}

<form action="{% url 'myapp:vote' poll.id %}" method="POST">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <p><input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}"/>
        {{choice.choice}}</p>
    {% endfor %} 
    <input type="submit" value="Vote"/>
</form>
{% endblock content%}