{% extends 'myapp/base.html' %}
{% load url from future %}

{% block content %}
    <h1>Polls User Login </h1> Login to create Polls and vote. </br></br>

    <font color="red">{% if login_err %}{{ login_err }} {% endif %}</font>
    <form id="login_form" method="post" action="{% url 'myapp:signin' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <input type="submit" value="submit" /> <a href="{% url 'myapp:register' %}">Register</a>
    </form>
{% endblock %}