{% extends 'myapp/base.html' %}
{% load url from future %}

{% block content %}
    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="{% url 'myapp:index' %}">Return to the homepage.</a><br />
    {% else %}
    <h1>Register here!</h1><br />
    <form id="user_form" method="post" action="{% url 'myapp:register'%}"
            enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% if password_matched != None %}
            {% if not password_matched  %}
                <font color="red"><li>Password does not match</li></font>
            {% endif %}
        {% endif %}
        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblock %}